@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Stick+No+Bills:wght@700&display=swap');
html{
  scroll-behavior: smooth;
}
body{
  background-color: #1A1818;
}
#navbar{
  height: 80px;
  position: sticky;
  top: 0;
  opacity: 0.92;
  backdrop-filter: blur(100px);
  background: #1A1818;
  border-bottom: 1px solid white;
  .navbar-item{

    #logo{
      height: 400px;
    }
  }
  .navbar-menu {
    background-color: #1A1818;
    .navbar-start{
    

      .navbar-item{
        font-size: 20px;
        color: white;
        transition: 0.3s;
        &:hover {
          transition: 0.3s;
          background-color: #EA310C;
        }
      }
      .navbar-link{

        &:hover{
          background-color: #252424;
        }
      }
    }
  }
}  
.frontBackground{
  background: url("../pictures/wood-ge45273ed9_1920.jpg") no-repeat center;
  background-size: 100% 100%;
  width: 100%;
  height: 40.5rem;
  .brandLogo_container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 44rem;
    
    #brandLogo{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      .logo{
        width: 100%;
        height: auto;
      }
    }
  }
}

#aboutTitle{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1A1818;
  height: 40rem;
  #title{
    display: flex;
    justify-content: center;
    width: 500px;
    color: #EA310C;
    font-size: 55px;
    margin-bottom: 50px;
    font-family: 'Stick No Bills', sans-serif;
    // border-bottom: 3px solid #EA310C;
  }
  #subtitle{
   font-size: 20px;
   text-align: center;
  }
}
#openingHours{
  margin-top: -100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1A1818;
  height: 50rem;
  .divider{
    position: relative;
    top: -250px;
    width: 80%;
    border-top: 1px solid #a15b3c;
  }
  #openingHrsTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #EA310C;
    top: -120px;
    width: 70%;
    font-size: 55px;
    font-family: 'Stick No Bills', sans-serif;
  }
  #daysContainer{
    position: relative;
    top: -100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 500px;
    #days{
      margin-top: 20px;
      font-size: 23px;
    }
    #time{
      margin-top: 20px;
      font-size: 20px;
    }
  }
}
#menu{
  background: url("https://aryaschillandgrill.github.io/Aryaschillandgrill/pictures/foodMenuBackground.jpg") no-repeat center;
  background-size: cover;
  background-color: #1A1818;
  height: 40rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  #menuTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #EA310C;
    width: 300px;
    top: -180px;
    font-size: 55px;
    font-family: 'Stick No Bills', sans-serif;
  }
  .menuSubContainer{
    position: relative;
    top: -150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
   
    #menuSubtitle{
      font-size: 23px;
      text-align: center;
    }
  }
  #dishBtn{
    position: relative;
    top: -100px;
    width: 200px;
    height: 100px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #EA310C;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 40px;

    &:hover{
      transform: scale(0.96);
      transition: 0.2s;
      background-color: white;
      border: 4px solid #EA310C;
      color: black;
    }
    &:active{
      background-color: #EA310C;
      transition: all 0.2s;
    }
    &:active:after{
      opacity: 1;
      transition: 0s;
    }
   }
}
#dish{ 
  height: 360rem;
  display: none;
  #dishListContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    // background: url("../pictures/concrete-wall.jpg") center;
    // background-size: 100% 100%;
    height: 360rem;
    background-color: black;
    #dishTitle{
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 80px;
      font-family: 'Stick No Bills', sans-serif;
      border-bottom: 2px solid #a15b3c;
      color: #EA310C;
    }

    #containerDish_1{
      width: 100%;
      
      #dish_1{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-color: transparent;
        .title{
          position: relative;
          left: -100px;
          width: auto;
          font-size: 80px;
          color: white;
          font-family: 'Satisfy', cursive;
        }
        .imgContainerDish_1{
          position: relative;
          right: -50px;
          width: 300px;
          height: auto;
        }
      }
    }
    #containerDish_2{
      width: 100%;
      
      #dish_2{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-color: transparent;
        .title{
          position: relative;
          right: -100px;
          width: 600px;
          font-size: 80px;
          width: auto;
          color: White;
          font-family: 'Satisfy', cursive;
        }
        .imgContainerDish_2{
          position: relative;
          left: -50px;
          width: 300px;
          height: auto;
          
        }
      }
    }
    #containerDish_3{
      width: 100%;
      
      #dish_3{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-color: transparent;
        .title{
          position: relative;
          left: -100px;
          width: 600px;
          font-size: 80px;
          width: auto;
          color: white;
          font-family: 'Satisfy', cursive;
        }
        .imgContainerDish_3{
          position: relative;
          right: -50px;
          width: 300px;
          height: auto;
        }
      }
    }
    #containerDish_4{
      width: 100%;
      
      #dish_4{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-color: transparent;
        .title{
          position: relative;
          right: -100px;
          width: 600px;
          font-size: 80px;
          width: auto;
          color: White;
          font-family: 'Satisfy', cursive;
        }
        .imgContainerDish_4{
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          left: -50px;
          width: 400px;
          height: auto;
        }
      }
    }
    #containerDish_5{
      width: 100%;
      
      #dish_5{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-color: transparent;
        .title{
          position: relative;
          left: -100px;
          width: 600px;
          font-size: 80px;
          width: auto;
          color: white;
          font-family: 'Satisfy', cursive;
        }
        .imgContainerDish_5{
          position: relative;
          right: -50px;
          width: 300px;
          height: auto;
          
        }
      }
    }
    #containerDish_6{
      width: 100%;
      
      #dish_6{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-color: transparent;
        .title{
          position: relative;
          right: -100px;
          width: 600px;
          font-size: 80px;
          width: auto;
          color: White;
          font-family: 'Satisfy', cursive;
        }
        .imgContainerDish_6{
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          left: -50px;
          width: 300px;
          height: auto;
          
        }
      }
    }
    #containerDish_7{
      width: 100%;
      
      #dish_7{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-color: transparent;
        .title{
          position: relative;
          left: -100px;
          width: 600px;
          font-size: 80px;
          width: auto;
          color: white;
          font-family: 'Satisfy', cursive;
        }
        .imgContainerDish_7{
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          right: -50px;
          width: 400px;
          height: auto;
          
        }
      }
    }
    #containerDish_8{
      width: 100%;
      
      #dish_8{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-color: transparent;
        .title{
          position: relative;
          right: -100px;
          width: 600px;
          font-size: 80px;
          width: auto;
          color: White;
          font-family: 'Satisfy', cursive;
        }
        .imgContainerDish_8{
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          left: -50px;
          width: 300px;
          height: auto;
          
        }
      }
    }
    #containerDish_9{
      width: 100%;
      
      #dish_9{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-color: transparent;
        .title{
          position: relative;
          left: -100px;
          width: 600px;
          font-size: 80px;
          width: auto;
          color: white;
          font-family: 'Satisfy', cursive;
        }
        .imgContainerDish_9{
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          right: -50px;
          width: 400px;
          height: auto;
        }
      }
    }
    #containerDish_10{
      width: 100%;
      
      #dish_10{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-color: transparent;
        .title{
          position: relative;
          right: -100px;
          width: 600px;
          font-size: 80px;
          width: auto;
          color: White;
          font-family: 'Satisfy', cursive;
        }
        .imgContainerDish_10{
          position: relative;
          left: -50px;
          width: 300px;
          height: auto;
          
        }
      }
    }
    #containerDish_11{
      width: 100%;
      
      #dish_11{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-color: transparent;
        .title{
          position: relative;
          left: -100px;
          width: 600px;
          font-size: 80px;
          width: auto;
          color: white;
          font-family: 'Satisfy', cursive;
        }
        .imgContainerDish_11{
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          right: -50px;
          width: 300px;
          height: auto;
        }
      }
    }
  }
}
#location{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60rem;
  border: 2px solid green;
  .blurBackground{
    position: absolute;
    background: url("https://aryaschillandgrill.github.io/Aryaschillandgrill/pictures/View/view5.jpg") no-repeat center;
    background-size: cover;
    filter: blur(8px);
    width: 100%;
    height: 60rem;
    border: 2px solid red;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;
    color: #EA310C;
    border-bottom: 2px solid black;
    width: 70%;
    font-size: 60px;
    font-family: 'Stick No Bills', sans-serif;

  }
  .imgContainerLocation{
    position: relative;
    top: 100px;
    width: 800px;
   
    .aryasGoogleMap{
      position: relative;
      width: 100%;

    }
  }
  #viewButton{
    position: relative;
    top: 150px;
    width: 200px;
    height: 65px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #EA310C;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 40px;
    z-index: 1;
    
    &:hover{
      transform: scale(0.96);
      transition: 0.2s;
      background-color: white;
      border: 4px solid #EA310C;
      color: black;
    }
    &:active{
      background-color: #EA310C;
      transition: all 0.2s;
    }
    &:active:after{
      opacity: 1;
      transition: 0s;
    }
  }
}
// #menuList{
//   background-color: blue;
//   #sampleAnimation{
//     height: 200px;
//     width: 100%;
//     background-color: red;
//   }
// }

@media only screen and (max-width: 820px) {
  #menu{
    height: 45rem;
  }
}
@media only screen and (max-width: 768px) {
  .frontBackground{
    
    .brandLogo_container{
      top: 40px;
      
      #brandLogo{
        width: 100%;
        
        .logo{
          top: 100px; 
        }
      }
    }
  }

  #aboutTitle{
    height: 600px;
    #title{
      top: 100px;
    }
    #subtitle{
      position: relative;
      top: 0px;
    }
  }

  #openingHours{

    .divider{
      top: 100px;
    }
    #openingHrsTitle{
     top: 100px;
    }
    #daysContainer{
      top: 100px;
      height: 450px;
      #days{
        top: 100px;
      }
      #time{
        top: 100px;
      }
    }
  }
  #menu{
    height: 45rem;
    #menuTitle{
      top: 0px;
    }
    .menuSubContainer{
      top: 20px;  
     
      #menuSubtitle{
        top: 100px;
      }
    }
    #dishBtn{
      top: 100px;
      width: 180px;
      height: 50px;
      font-size: 20px;
    }
  }

  #dish{ 
 
    
    #dishListContainer{

      #dishTitle{
      
      }
  
      #containerDish_1{

        
        #dish_1{
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
            font-size: 40px;
            width: auto;
            left: 0px;
            top: -20px;
          }
          .imgContainerDish_1{
            left: 0px;
            width: 250px;
            bottom: -20px;
            height: auto;
          }
        }
      }
      #containerDish_2{

        
        #dish_2{
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
            font-size: 40px;
            width: auto;
            left: 0px;
            top: -350px;
          }
          .imgContainerDish_2{
            left: 0px;
            width: 250px;
            bottom: -80px;
            height: auto;
          }
        }
      }
      #containerDish_3{

        
        #dish_3{
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
            font-size: 40px;
            width: auto;
            left: 0px;
            top: -20px;
          }
          .imgContainerDish_3{
            left: 0px;
            width: 250px;
            bottom: -20px;
            height: auto;
          }
        }
      }
      #containerDish_4{

        
        #dish_4{
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
            font-size: 40px;
            width: auto;
            left: 0px;
            top: -300px;
          }
          .imgContainerDish_4{
            left: 0px;
            width: 300px;
            bottom: -50px;
            height: auto;
          }
        }
      }
      #containerDish_5{

        
        #dish_5{
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
            font-size: 40px;
            width: auto;
            left: 0px;
            top: -20px;
          }
          .imgContainerDish_5{
            left: 0px;
            width: 250px;
            bottom: -20px;
            height: auto;
          }
        }
      }
      #containerDish_6{

        
        #dish_6{
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
            font-size: 40px;
            width: auto;
            left: 0px;
            top: -350px;
          }
          .imgContainerDish_6{
            left: 0px;
            width: 250px;
            bottom: -80px;
            height: auto;
          }
        }
      }
      #containerDish_7{

        
        #dish_7{
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
            font-size: 40px;
            width: auto;
            left: 0px;
            top: -20px;
          }
          .imgContainerDish_7{
            left: 0px;
            width: 300px;
            bottom: -20px;
            height: auto;
          }
        }
      }
      #containerDish_8{

        
        #dish_8{
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
            font-size: 40px;
            width: auto;
            left: 0px;
            top: -350px;
          }
          .imgContainerDish_8{
            left: 0px;
            width: 250px;
            bottom: -80px;
            height: auto;
          }
        }
      }
      #containerDish_9{

        
        #dish_9{
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
            font-size: 40px;
            width: auto;
            left: 0px;
            top: -20px;
          }
          .imgContainerDish_9{
            left: 0px;
            width: 300px;
            bottom: -20px;
            height: auto;
          }
        }
      }
      #containerDish_10{

        
        #dish_10{
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
            font-size: 40px;
            width: auto;
            left: 0px;
            top: -350px;
          }
          .imgContainerDish_10{
            left: 0px;
            width: 250px;
            bottom: -80px;
            height: auto;
          }
        }
      }
      #containerDish_11{

        
        #dish_11{
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
            font-size: 40px;
            width: auto;
            left: 0px;
            top: -20px;
          }
          .imgContainerDish_11{
            left: 0px;
            width: 200px;
            bottom: -20px;
            height: auto;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 505px) {

  #aboutTitle{
    
    #title{
    font-size: 45px;
    }
    #subtitle{
      font-size: 20px;
    }
  }
  #openingHours{

    .divider{
      
    }
    #openingHrsTitle{
      top: 150px;
      font-size: 40px;
    }
    #daysContainer{
      position: relative;
      top: 200px;
      #days{
        font-size: 18px;
      }
      #time{
        font-size: 15px;
      }
    }
  }
  #dish{ 
 
    
    #dishListContainer{

      #dishTitle{
      font-size: 70px;
      }
  
      #containerDish_1{

        #dish_1{
        
          .title{
            font-size: 40px;
          }
          .imgContainerDish_1{
            width: 200px;
            height: 270px;
          }
        }
      }
      #containerDish_2{

        #dish_2{
      
          .title{
            top: -300px;
            font-size: 40px;
          }
          .imgContainerDish_2{
            width: 200px; 
            height: auto;
          }
        }
      }
      #containerDish_3{
 
        
        #dish_3{
    
          .title{
            font-size: 40px;
          }
          .imgContainerDish_3{
            width: 200px;
            height: auto;
          }
        }
      }
      #containerDish_4{
    
        
        #dish_4{
    
          .title{
            top: -250px;
            font-size: 40px;
          }
          .imgContainerDish_4{
            width: 250px; 
            height: auto;
          }
        }
      }
      #containerDish_5{

        
        #dish_5{
    
          .title{
            font-size: 40px;
          }
          .imgContainerDish_5{
            width: 200px;
            height: auto;
            
          }
        }
      }
      #containerDish_6{
    
        
        #dish_6{
    
          .title{
            font-size: 35px;
          }
          .imgContainerDish_6{
            width: 250px; 
            height: auto;
            
          }
        }
      }
      #containerDish_7{
    
        
        #dish_7{
    
          .title{
            font-size: 40px;
          }
          .imgContainerDish_7{
            width: 250px;
            height: auto;
          }
        }
      }
      #containerDish_8{
    
        
        #dish_8{
    
    
          .title{
            top: -300px;
            font-size: 40px;
          }
          .imgContainerDish_8{
            width: 200px;
            height: auto;
            
          }
        }
      }
      #containerDish_9{
    
        
        #dish_9{
    
          .title{
            font-size: 40px;
          }
          .imgContainerDish_9{
            width: 250px;
            height: auto;
          }
        }
      }
      #containerDish_10{
    
        
        #dish_10{
     
          .title{
            top: -300px;
            font-size: 40px;
          }
          .imgContainerDish_10{
            width: 200px;
            height: auto;
            
          }
        }
      }
      #containerDish_11{
    
        
        #dish_11{
    
          .title{
            font-size: 40px;
          }
          .imgContainerDish_11{
            width: 200px;
            height: auto;
          }
        }
      }
    }
  }
  #location{

  
    .title{
  
    }
    .imgContainerLocation{
      width: 400px;
      height: 350px;
      .aryasGoogleMap{
        width: 100%;
        height: 100%;
      }
    }
  }
}


